.Proteina {
    width: 70%;
    height: 358px;
    padding: 20%;
}

.titulo {
    text-align: center;   
}

.Cards {
    padding: 1% 10% 1% 10%;
}

.card {
    margin: 0% 2% 0% 2%;
    border-radius: 1%;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}